body{
    margin: 0;
    font-family: sans-serif;
    color: #ddd;
    background-color: #111;
}
.nav {
    background-color: #333a;
    box-shadow: 0 0 35px #fff2;
    font-size: 18px;
    width: 100%;
    
}


.nav__list{
    margin: 0;
    text-align: center;
}
.nav__item{
    display: inline-block;
}

.nav--input{
    margin: 0 20px 0 0;
}
.nav__link{
    color: #bbb; 
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    background-color: transparent;
    border-radius:  5px; 
    border-left: 3px solid #aaa9;
    border-bottom: 3px solid #aaa9;
    box-shadow: 0 0 1px #fff;
    
}
.nav__link:hover{
    color: #fff;
    box-shadow: 0 0 25px #fff3;
}
.link--button{
    border: none;
    border-right: 3px solid #aaa9;
    border-bottom: 3px solid #aaa9;
    border-radius: 3px;
    background-color: transparent;
    padding: 10px;
    margin-left: 60px;
}


h2{
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
    font-weight: 100;
    font-size: 22px;
    padding: 10px;
    
}
form{
    background-color: transparent;
    padding: 20px 0;
    max-width: 500px;
    margin: auto;
    box-shadow: 0 0 35px #fff2;
    margin-top: 50px;
    margin-bottom: 40px;
    border-radius: 8px;
}
.form_input{
    padding: 6px 20px;
    
}
input{
    width: 100%;
    box-sizing: border-box;
    padding: 6px 12px;
    border: none;
    border-left: 3px solid #999;
    box-shadow: 0 0 15px #fff1;
    background-color: transparent;
    border-radius: 4px;
    color: #ddd;
    
}
option{
    background-color: #222;
}
label{
    font-size: 0.88em;
    line-height: 2;
    
}


.button{
    width: auto;
    background-color: #9993;
    border: none;
    box-shadow: 0 0 15px #0001;
    border-radius: 4px;
    padding: 6px 12px;
    color: #eee;
    margin: 15px 0 0 20px;
    
}
.button:hover{
    background-color: #666;
    cursor: pointer;
}
.button--log{
    border: none;
    background-color: #9993;
    color: #fff;
    border-radius: 4px;
    text-decoration: none;
    padding: 7px;
    font-size: 14px;
    
}
.button--log:hover{
    background-color: #666;
    cursor: pointer;
}
fieldset{
    border-radius: 5px;
    border: 1px solid #666;
    margin: 0 20px;
    padding: 5px 5px 18px 0;
    
}
legend{
    padding: 0 6px; 
}
.parrafo{
    display: inline-block;    
    font-size: 13px;
    margin-left: 120px;
}


