*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html, body {
  margin: 0;
  padding: 0;
  background-color: #111;
  box-sizing: border-box;
  display: block; 
}
header {
    margin: 0;
  height: auto; 
  padding:0; 
}
     /* NAV */
.nav {
    background-color: #333a;
    box-shadow: 0 0 35px #fff2;
    font-size: 18px;
    width: 100%;
    position: fixed;
    
}


.nav__list{
    margin: 0;
    text-align: center;
}
.nav__item{
    display: inline-block;
}

.nav--input{
    margin: 0 20px 0 0;
}
.nav__link{
    color: #ccc; 
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    background-color: transparent;
    border-radius:  5px; 
    border-left: 3px solid #aaa9;
    border-bottom: 3px solid #aaa9;
    box-shadow: 0 0 1px #fff;
    
}
.nav__link:hover{
    color: #fff;
    box-shadow: 0 0 25px #fff3;
}
.link--button{
    border: none;
    border-right: 3px solid #aaa9;
    border-bottom: 3px solid #aaa9;
    border-radius: 3px;
    background-color: transparent;
    padding: 10px;
    margin-left: 60px;
}
    /* CARD */
.crd{
    display: flex;
}
.conteiner{
    position: relative;
    height: 450px;
    width: 300px;
    background-color: #fff;
    box-shadow: 0 0 15px 0 #fff5;
    transition: all 0.3s ease;
    overflow: hidden;
    top: 80px;
    margin: 10px 20px;
    border-radius: 30px;
    border: 1px solid #fff1;
}
.conteiner:hover{
    box-shadow: 0 0 15px 0 #fff4;
}
.conteiner .imagen{
position: absolute;
top: 0;
left: 0;
height: 50%;
width: 100%;

}
.conteiner .imagen img{
    height: 100%;
    width: 100%;
    transition: all 0.3s ease;
}
.conteiner:hover .imagen img{
    transform: scale(1.2);
}

.conteiner .card-content{
    height: 100%;
    width: 100%;
    position: relative;
}

.card-content .wrapper{
    position: absolute;
    background-color: #666;
    width: 100%;
    bottom: 0px;
    top: 223px;
    padding: 10px 25px;
    box-shadow: -1px -1px 8px 0 #0001;
}
.wrapper .titulo{
    font-size: 22px;
    font-weight: 500;
    color: #fff;
    margin-top: 20px;
}
.wrapper p{
    font-size: 18px;
    color: #ccc;
}
.wrapper .precio{
    position: absolute;
    right: 10px;
    top: 11px;
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    margin-top: 30px;
    margin-right: 10px;
}
.wrapper .content {
    margin: 10px 0;
}
.wrapper .content .nombre{
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    margin-top: 25px;
}
.wrapper .content .talle-valor{
    display: flex;
    width: 50%;
    margin: 3px 0;
    justify-content: space-between;
}
.wrapper .content .talle-valor span{
    display: block;
    height: 28px;
    width: 28px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    font-weight: 500;
    font-size: 15px;
    line-height: 28px;
    cursor: pointer;
}
.wrapper .content .talle-valor span.activo{
    background-color: rgb(31, 30, 30);
    color: #fff;
}
.content .color-valor{
    display: flex;
    width: 30%;
    margin:  10px 0;
    justify-content: space-between;
}
.content .color-valor span{
    height: 18px;
    width: 18px;
    background-color: #000;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}

.content .color-valor span.white{
    background-color: #fffe;
}
.content .color-valor span.blue{
    background-color: blue;
}

.content .color-valor span.activo:after{
    content: "";
    position: absolute;
    height: 26px;
    width: 26px;
    top: -4px;
    left: -4px;
    border: 2px solid #000;
    box-sizing: border-box;
    border-radius: 50%;
}
/* BOTONES */
.btn{
    display: flex;
    justify-content: space-between; 
    align-items: center;           
    margin-top: 20px;
}
button{
    border: 1px solid rgba(36, 32, 32, 0.6);
    border-radius: 5px;
    background-color: #333;
    color: #ccc;
    padding: 6px 16px;              
    white-space: nowrap;            
    font-size: 15px;
    cursor: pointer;
    margin: 4px;
    
}
button:hover{
    color: #fff;
    box-shadow: 0 0 15px #fff7;
    cursor: pointer;
    font-weight: 600;
}