:root {
    --bg: #111;
    --bg-card: #fff;
    --bg-nav: #222;
    --bg-nav--item: #aaa;
    --text: #fff;
    --text-sec: #ccc;
    --precio-color: #fff;
    --Shadow-color: #fff3;
    --Shadow-color--card: #fff5;
    --bg-button: #222;
    --bg-marca: #111;
    --carrito-container: #fff;
}

/* Tema claro */
.light {
    --bg: #f4f4f4;
    --bg-card: #ffffff;
    --bg-nav: #e3e3e3;
    --bg-nav--item: #333;
    --text: #111;
    --text-sec: #333;
    --precio-color: #111;
    --Shadow-color: #222;
    --Shadow-color--card: #222;
    --bg-button: #fffc;
    --bg-marca: #fff8;
    --carrito-container: #777;
}
body {
    background-color: var(--bg);
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Título */
h2 {
    margin-top: 100px;
    text-align: center;
    color: var(--text);
    font-size: 2.2rem;
    letter-spacing: 1px;
} 
.boton-flotante {
    position: fixed;
    top: 50%;               
    right: 20px;           
    transform: translateY(-50%);
    background: #6b6c6d;
    color: white;
    padding: 12px 20px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}


.boton-flotante:hover {
    transform: translateY(-50%) scale(0.95);
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}
/* Navegación */
.nav {
    display: flex;
    justify-content: center;
    background-color: var(--bg-nav);
    box-shadow: 0 0 35px var(--Shadow-color);
    font-size: 18px;
    width: 100%;
    position: relative;
    z-index: 1000;

}
.nav__list{
    margin: 0;
    text-align: center;
}
.nav__item{
    display: inline-block;
}

.nav--input{
    margin: 0 20px 0 0;
}
.nav__link{
    color: var(--text-sec);
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    background-color: transparent;
    border-radius:  5px; 
    border-left: 2px solid var(--bg-nav--item);
    border-bottom: 2px solid var(--bg-nav--item);
    box-shadow: 0 0 1px var(--Shadow-color);
    transition: transform 0.15s ease, background-color 0.15s ease;
}
.nav__link:hover{
    color: var(--text);
    box-shadow: 0 0 25px var(--Shadow-color);
    border: none;
    transform: scale(0.94);
}
.link--button{
    border: none;
    border-left: 2px solid var(--bg-nav--item);
    border-bottom: 2px solid var(--bg-nav--item);
    border-radius: 3px;
    background-color: transparent;
    padding: 10px;
    margin-left: 60px;
}

/* Contenedor general del carrito */
.carrito-contenedor {
    width: 80%;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Ítem del carrito */
.carrito-item {
    background-color: var(--carrito-container);
    border-radius: 20px;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 18px;
    box-shadow: 0 0 15px var(--Shadow-color--card);
    position: relative;
}

/* Imagen */
.carrito-img {
    width: 120px;
    height: 120px;
    border-radius: 15px;
    object-fit: cover;
}

/* Texto */
.carrito-detalle h3 {
    font-size: 20px;
    color: var(--bg-nav);
}

.marca {
    color: var(--bg-marca);
    margin-bottom: 4px;
}

.precio-item {
    font-size: 20px;
    font-weight: bold;
    color: var(--bg);
}

/* Cantidad */
.cantidad {
    margin-top: 8px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.qty-btn {
    background: var(--bg-nav);
    color: var(--text-sec);
    width: 30px;
    height: 30px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: transform 0.1s ease;
}

/* Efecto PUSH */
.qty-btn:hover {
    transform: translateY(2px);
    box-shadow: 0 0 10px var(--Shadow-color--card);
}

.qty-btn:active {
    transform: translateY(4px);
}

.qty {
    color: var(--bg);
    font-size: 18px;
}

/* Botón de eliminar */
.eliminar {
    position: absolute;
    right: 15px;
    top: 15px;
    background: #ff4d4d;
    border: none;
    color: var(--text);
    padding: 6px 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: .1s;
}

.eliminar:hover {
    background: #ff0000;
    transform: scale(0.94);
}

/* TOTAL */
.carrito-total {
    width: 80%;
    margin: 30px auto;
    background: var(--carrito-container);
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 0 15px var(--Shadow-color--card);
}

.carrito-total h3 {
    font-size: 25px;
    color: var(--bg);
    margin-bottom: 20px;
}

/* Botón pagar */
.btn-pagar {
    background: var(--bg-button);
    color: var(--text-sec);
    padding: 12px 20px;
    font-size: 18px;
    border-radius: 8px;
    border: 1px solid #555;
    cursor: pointer;
    transition: 0.15s;
}

.btn-pagar:hover {
    color: var(--text);
    box-shadow: 0 0 15px var(--Shadow-color--card);
    transform: scale(0.94);
}

.btn-pagar:active {
    transform: translateY(4px);
}
