body {
    background: #111;
    margin: 0;
    padding: 0;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Título */
h2 {
    margin-top: 100px;
    text-align: center;
    color: #fff;
    font-size: 2.2rem;
    letter-spacing: 1px;
} 
/* Navegación */
.nav {
    display: flex;
    justify-content: center;
    background-color: #222;
    box-shadow: 0 0 35px #fff2;
    font-size: 18px;
    width: 100%;
    position: relative;
    z-index: 1000;

}
.nav__list{
    margin: 0;
    text-align: center;
}
.nav__item{
    display: inline-block;
}

.nav--input{
    margin: 0 20px 0 0;
}
.nav__link{
    color: #ccc; 
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    background-color: transparent;
    border-radius:  5px; 
    border-left: 2px solid #aaa;
    border-bottom: 2px solid #aaa;
    box-shadow: 0 0 1px #fff;
    transition: transform 0.15s ease, background-color 0.15s ease;
}
.nav__link:hover{
    color: #fff;
    box-shadow: 0 0 25px #fff3;
    border: none;
    transform: scale(0.94);
}
.link--button{
    border: none;
    border-left: 2px solid #aaa;
    border-bottom: 2px solid #aaa;
    border-radius: 3px;
    background-color: transparent;
    padding: 10px;
    margin-left: 60px;
}

/* Contenedor general del carrito */
.carrito-contenedor {
    width: 80%;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Ítem del carrito */
.carrito-item {
    background: #fff;
    border-radius: 20px;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 18px;
    box-shadow: 0 0 15px #fff4;
    position: relative;
}

/* Imagen */
.carrito-img {
    width: 120px;
    height: 120px;
    border-radius: 15px;
    object-fit: cover;
}

/* Texto */
.carrito-detalle h3 {
    font-size: 20px;
    color: #111;
}

.marca {
    color: #666;
    margin-bottom: 4px;
}

.precio-item {
    font-size: 20px;
    font-weight: bold;
    color: #111;
}

/* Cantidad */
.cantidad {
    margin-top: 8px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.qty-btn {
    background: #333;
    color: #ccc;
    width: 30px;
    height: 30px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: transform 0.1s ease;
}

/* Efecto PUSH */
.qty-btn:hover {
    transform: translateY(2px);
    box-shadow: 0 0 10px #fff5;
}

.qty-btn:active {
    transform: translateY(4px);
}

.qty {
    color: #000;
    font-size: 18px;
}

/* Botón de eliminar */
.eliminar {
    position: absolute;
    right: 15px;
    top: 15px;
    background: #ff4d4d;
    border: none;
    color: #fff;
    padding: 6px 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: .1s;
}

.eliminar:hover {
    background: #ff0000;
    transform: scale(0.94);
}

/* TOTAL */
.carrito-total {
    width: 80%;
    margin: 30px auto;
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 0 15px #fff4;
}

.carrito-total h3 {
    font-size: 25px;
    color: #111;
    margin-bottom: 20px;
}

/* Botón pagar */
.btn-pagar {
    background: #333;
    color: #ccc;
    padding: 12px 20px;
    font-size: 18px;
    border-radius: 8px;
    border: 1px solid #555;
    cursor: pointer;
    transition: 0.15s;
}

.btn-pagar:hover {
    color: #fff;
    box-shadow: 0 0 15px #fff6;
    transform: scale(0.94);
}

.btn-pagar:active {
    transform: translateY(4px);
}
