:root {
    --bg: #111;
    --bg-card: #fff;
    --bg-nav: #222;
    --bg-nav--item: #aaa;
    --text: #fff;
    --text-sec: #ccc;
    --precio-color: #fff;
    --Shadow-color: #fff3;
    --Shadow-color--card: #fff5;
    --bg-button: #222;
}

/* Tema claro */
.light {
    --bg: #f4f4f4;
    --bg-card: #ffffff;
    --bg-nav: #e3e3e3;
    --bg-nav--item: #333;
    --text: #111;
    --text-sec: #333;
    --precio-color: #111;
    --Shadow-color: #222;
    --Shadow-color--card: #222;
    --bg-button: #fffc;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
html, body {
    margin: 0;
    padding: 0;
    background-color: var(--bg);
    box-sizing: border-box;
    display: block; 
}
header {
    margin: 0;
    height: auto; 
    padding:0; 
}
#Remeras, #pantalones, #Zapatillas, #home {
    background-color: var(--bg);  
    padding: 40px 0;
    min-height: 100vh; 
}
.home--text {
text-align:center; color: var(--text-sec); margin-top:40px; font-size:18px;
}
.boton-flotante {
    position: fixed;
    top: 50%;               
    right: 20px;           
    transform: translateY(-50%);
    background: #6b6c6d;
    color: white;
    padding: 12px 20px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}


.boton-flotante:hover {
    transform: translateY(-50%) scale(0.95);
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

     /* NAV */

.nav {
    display: flex;
    justify-content: center;
    background-color: var(--bg-nav);
    box-shadow: 0 0 35px var(--Shadow-color);
    font-size: 18px;
    width: 100%;
    position: fixed;
    z-index: 1000;

}
.nav__list{
    margin: 0;
    text-align: center;
}
.nav__item{
    display: inline-block;
}

.nav--input{
    margin: 0 20px 0 0;
}
.nav__link{
    color: var(--text-sec);
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    background-color: transparent;
    border-radius:  5px; 
    border-left: 2px solid var(--bg-nav--item);
    border-bottom: 2px solid var(--bg-nav--item);
    box-shadow: 0 0 1px var(--Shadow-color);
    transition: transform 0.15s ease, background-color 0.15s ease;
}
.nav__link:hover{
    color: var(--text);
    box-shadow: 0 0 25px var(--Shadow-color);
    border: none;
    transform: scale(0.94);
}
.link--button{
    border: none;
    border-left: 2px solid var(--bg-nav--item);
    border-bottom: 2px solid var(--bg-nav--item);
    border-radius: 3px;
    background-color: transparent;
    padding: 10px;
    margin-left: 60px;
}

h2 {
    text-align: center;
    color: var(--text);
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 90px 0 -50px 0;
    font-weight: 600;
    padding: 10px 0 ;
}
    /* CARD */
.crd {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.conteiner{
    position: relative;
    height: 450px;
    width: 300px;
    background-color: var(--bg-card);
    box-shadow: 0 0 15px 0 var(--Shadow-color--card);
    transition: all 0.3s ease;
    overflow: hidden;
    top: 80px;
    margin: 10px 20px;
    border-radius: 30px;
    border: 1px solid #fff1;
    
}
.conteiner:hover{
    box-shadow: 0 0 15px 0 #fff4;

}
.conteiner .imagen{
position: absolute;
top: 0;
left: 0;
height: 65%;
width: 100%;
}
.conteiner .imagen img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all 0.3s ease;
}
.conteiner:hover .imagen img{
    transform: scale(1.2);
}

.conteiner .card-content{
    height: 100%;
    width: 100%;
    position: relative;
}

.card-content .wrapper{
    position: absolute;
    background-color: var(--bg-nav);
    width: 100%;
    bottom: 0px;
    padding: 10px 25px;
    box-shadow: -1px -1px 8px 0 #0001;
}
.wrapper .titulo{
    font-size: 22px;
    font-weight: 500;
    color: var(--text);
}
.wrapper p{
    font-size: 18px;
    color: var(--text-sec);
}
.wrapper .precio{
    position: absolute;
    right: 20px;
    top: 50px;
    color: var(--text);
    font-size: 22px;
    font-weight: 600;
}
.wrapper .content {
    margin: 10px 0;
}
.wrapper .content .nombre{
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--text);

}
.wrapper .content .talle-valor{
    display: flex;
    width: 50%;
    margin: 5px 0;
    justify-content: space-between;
}
.wrapper .content .talle-valor span{
    display: block;
    height: 28px;
    width: 28px;
    text-align: center;
    color: var(--text);
    border-radius: 50%;
    font-weight: 500;
    font-size: 15px;
    line-height: 28px;
    cursor: pointer;
}
.wrapper .content .talle-valor span.activo{
    background-color: rgb(31, 30, 30);
    color: var(--text);
}

/* BOTONES */
.btn{
    display: flex;
    justify-content: center;
    align-items: center;            
    gap: 10px;           
    width: 100%;  

}
button{

    border-radius: 5px;
    background-color: var(--bg-button);
    color: var(--text-sec);
    padding: 6px 16px;              
    white-space: nowrap;            
    font-size: 15px;
    cursor: pointer;
    margin: 4px;
}
button:hover{
    color: var(--text);
    box-shadow: 0 0 15px var(--Shadow-color--card);
    cursor: pointer;
    font-weight: 600;
}



