*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html, body {
  margin: 0;
  padding: 0;
  background-color: #111;
  box-sizing: border-box;
  display: block; 
}
header {
    margin: 0;
  height: auto; 
  padding:0; 
}
     /* NAV */

.nav {
    display: flex;
    justify-content: center;
    background-color: #222;
    box-shadow: 0 0 35px #fff2;
    font-size: 18px;
    width: 100%;
    position: fixed;
    z-index: 1000;

}
.nav__list{
    margin: 0;
    text-align: center;
}
.nav__item{
    display: inline-block;
}

.nav--input{
    margin: 0 20px 0 0;
}
.nav__link{
    color: #ccc; 
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    background-color: transparent;
    border-radius:  5px; 
    border-left: 2px solid #aaa;
    border-bottom: 2px solid #aaa;
    box-shadow: 0 0 1px #fff;
    transition: transform 0.15s ease, background-color 0.15s ease;
}
.nav__link:hover{
    color: #fff;
    box-shadow: 0 0 25px #fff3;
    border: none;
    transform: scale(0.94);
}
.link--button{
    border: none;
    border-left: 2px solid #aaa;
    border-bottom: 2px solid #aaa;
    border-radius: 3px;
    background-color: transparent;
    padding: 10px;
    margin-left: 60px;
}

h2 {
    text-align: center;
    color: white;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 90px 0 -50px 0;
    font-weight: 600;
    padding: 10px 0 ;
}
    /* CARD */
.crd {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.conteiner{
    position: relative;
    height: 450px;
    width: 300px;
    background-color: #fff;
    box-shadow: 0 0 15px 0 #fff5;
    transition: all 0.3s ease;
    overflow: hidden;
    top: 80px;
    margin: 10px 20px;
    border-radius: 30px;
    border: 1px solid #fff1;
    
}
.conteiner:hover{
    box-shadow: 0 0 15px 0 #fff4;

}
.conteiner .imagen{
position: absolute;
top: 0;
left: 0;
height: 65%;
width: 100%;
}
.conteiner .imagen img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all 0.3s ease;
}
.conteiner:hover .imagen img{
    transform: scale(1.2);
}

.conteiner .card-content{
    height: 100%;
    width: 100%;
    position: relative;
}

.card-content .wrapper{
    position: absolute;
    background-color: #666;
    width: 100%;
    bottom: 0px;
    padding: 10px 25px;
    box-shadow: -1px -1px 8px 0 #0001;
}
.wrapper .titulo{
    font-size: 22px;
    font-weight: 500;
    color: #fff;
}
.wrapper p{
    font-size: 18px;
    color: #ccc;
}
.wrapper .precio{
    position: absolute;
    right: 20px;
    top: 50px;
    color: #fff;
    font-size: 22px;
    font-weight: 600;
}
.wrapper .content {
    margin: 10px 0;
}
.wrapper .content .nombre{
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;

}
.wrapper .content .talle-valor{
    display: flex;
    width: 50%;
    margin: 5px 0;
    justify-content: space-between;
}
.wrapper .content .talle-valor span{
    display: block;
    height: 28px;
    width: 28px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    font-weight: 500;
    font-size: 15px;
    line-height: 28px;
    cursor: pointer;
}
.wrapper .content .talle-valor span.activo{
    background-color: rgb(31, 30, 30);
    color: #fff;
}

/* BOTONES */
.btn{
    display: flex;
    justify-content: center;
    align-items: center;            
    gap: 10px;           
    width: 100%;  

}
button{
    border: 1px solid rgba(36, 32, 32, 0.6);
    border-radius: 5px;
    background-color: #333;
    color: #ccc;
    padding: 6px 16px;              
    white-space: nowrap;            
    font-size: 15px;
    cursor: pointer;
    margin: 4px;
}
button:hover{
    color: #fff;
    box-shadow: 0 0 15px #fff7;
    cursor: pointer;
    font-weight: 600;
}



